@font-face {
	font-family: 'SUITE_Variable';
	font-weight: 300 900;
	src: url('../../fonts/SUITE-Variable-woff2/SUITE-Variable.woff2') format('woff2-variations');
}

.myCart {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 4rem;
    .header {
        display: flex;
        justify-content: flex-start;
        border-bottom: 2px solid rgb(51, 51, 51);
        padding-bottom: 1rem;
        z-index: 200;
        h1 {
          font-size: 1.4rem;
          font-weight: 800;
          color: rgb(51, 51, 51);
        }
    }
    .body {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.result {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgb(208, 208, 208);
}
.cart_body {
    font-family: 'SUITE_Variable';
    display: flex;
    margin: 2rem;
    justify-content: center;
    border-bottom: 1px solid gray;
    height: 100px;
    width: 95%;
}
.cart_real {
    width: 70%;
    padding-left: 25px;
    padding-top: 10px;
    text-align: center;
    align-items: center;
}