.infoform-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;

  .infoform {
    width: 800px;
    padding: 20px;
    border: none;
    background-color: white;
    
    .btn {
      width: 24rem;
      background-color: #e100ff;
      color: white;
      border: none;
      border-radius: 6px;
      padding: 0.8rem 1.5rem;
      font-size: 16px;
      cursor: pointer;
      margin-top: 20px;
      margin: 0 auto;
  }

    .form-title {
      text-align: center;
      margin-bottom: 20px;
    }

    .group {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      

      label {
        font-weight: bold;
        width: 150px; /* 라벨 너비 조정 */
        flex-shrink: 0; /* 라벨이 줄어들지 않도록 설정 */
      }

      .input-group {
        display: flex;
        align-items: center;
        gap: 10px; /* 라벨과 인풋창 사이 간격 추가 */

        label {
          flex: 1; /* 라벨이 공간을 차지하도록 설정 */
        }
        input {
          width: 50%; /* 반으로 줄임 */
          font-size: 16px;
          outline: none;
          border: 1px solid #ccc;
          border-radius: 6px;
          padding: 0.8rem;
          margin-top: 5px;
          
        }
      }
    }
  }
}