@font-face {
	font-family: 'SUITE_Variable';
	font-weight: 300 900;
	src: url('../../fonts/SUITE-Variable-woff2/SUITE-Variable.woff2') format('woff2-variations');
}

.orderbody_last{
  font-family: 'SUITE_Variable';
  display: flex;
  justify-content: center;
  p {
    display: flex;
    justify-content: space-between;
  }
}