@font-face {
	font-family: 'SUITE_Variable';
	font-weight: 300 900;
	src: url('../../fonts/SUITE-Variable-woff2/SUITE-Variable.woff2') format('woff2-variations');
}

.row {
    margin-left: 2rem;
    .listTitle {
        display: flex;
        justify-content: flex-start;
        border-bottom: 2px solid rgb(51, 51, 51);
        margin-top: 2rem;
        padding-bottom: 1rem;
        h2{
            font-size: 1.4rem;
            font-weight: 800;
            color: rgb(51, 51, 51);
        }
    }
    .nav-link {
        margin-top: 2rem;
        color: #000000;
        padding-left: 20px;
        padding-right: 20px;
    }
    .content {
        margin-top: 2rem;
        .col {
            h5{
                width: 290px;
                height: 80px;
                margin-top: 10px;
            }
        }
    }
}

.discount-price{
    font-family: 'SUITE_Variable';
}

.original-price {
    text-decoration: line-through;
}


.gray-line {
    border: none;
    border-top: 1px solid #744d4d;
    margin: 20px 0;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 4rem; 
    
    
  }