/* ImageSlider.module.scss */

.image-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    position: relative;
  }
  
  .slide-image {
    max-width: 100%;
    max-height: 100%;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 16px;
    z-index: 200;
    cursor: pointer;
  }
  
  .prev-button {
    left: 20px;
  }
  
  .next-button {
    right: 20px;
  }

  .my_price {
    width: 20%;
    gap: 2rem;
    z-index: 200;
    border-bottom: 2px solid rgb(51, 51, 51);
    h1 {
        font-size: 1.6rem;
        font-weight: 800;
        color: rgb(51, 51, 51);
      }
    }

.images {
  flex-direction: column;
}

.boundary {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}